.CreateTodoButton{
    background-color: #2dc1c1;
    box-shadow: -1px 5px -1px rgba(80, 231, 246, 0.5);
    border: none;
    /* border-radius: 50%; */
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    left: 50%;
    bottom: 24px;
    font-weight: bold;
    color: aliceblue;
    display: flex;
    justify-content: center;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 2;
}

.CreateTodoButton:hover{
    transform: rotate(224deg);
}