.TodoSearch {
  background: #ffffff;
    border-radius: 20px;
    border: 1px solid #202329;
    margin: 2px 24px;
    height: 62px;
    width: calc(50% - 101px);
    font-size: 25px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 400;
    color: #1e1e1f;
    box-shadow: 10px 10px 25px rgba(35, 35, 41, 0.25);
}

.TodoSearch::placeholder {
  color: #0d0e0d;
  font-family: "Montserrat";
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #2dc7ba;
}

.TodoSearch:disabled {
  opacity: 25%;
}

